In [1]:
import tensorflow as tf
from tensorflow import keras
print(tf.__version__)

2024-05-10 12:35:36.606929: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

2.13.1

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [5]:
# Wczytaj dane treningowe i testowe
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

train_set = pd.read_csv('adult/adult.data', sep=", ",header = None)
test_set = pd.read_csv('adult/adult.test', sep=", ",skiprows = 1, header = None) # Make sure to skip a row for the test set

col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 
              'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
             'wage_class']
train_set.columns = col_labels
test_set.columns = col_labels

train = train_set.replace('?', np.nan).dropna()
test = test_set.replace('?', np.nan).dropna()

train_set.head()

/var/folders/k_/2tytwy6d2ll1_kvk_k0j7vd00000gn/T/ipykernel_7971/1853370235.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  train_set = pd.read_csv('adult/adult.data', sep=", ",header = None)
/var/folders/k_/2tytwy6d2ll1_kvk_k0j7vd00000gn/T/ipykernel_7971/1853370235.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  test_set = pd.read_csv('adult/adult.test', sep=", ",skiprows = 1, header = None) # Make sure to skip a row for the test set

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,wage_class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Zad.
ZrÃ³bmy szybki preprocesing

In [6]:
dataset = pd.concat([train,test])

dataset['wage_class'] = dataset.wage_class.replace({'<=50K.': 0,'<=50K':0, '>50K.':1, '>50K':1})

dataset.drop(["fnlwgt"],axis=1,inplace=True)

dataset.drop(["education"],axis=1,inplace=True)

x = dataset.groupby('native_country')["wage_class"].mean()

d = dict(pd.cut(x[x.index!=" United-States"],5,labels=range(5)))

dataset['native_country'] = dataset['native_country'].replace(d)

dataset = pd.get_dummies(dataset,drop_first=True)

train = dataset.iloc[:train.shape[0]]
test = dataset.iloc[train.shape[0]:]

X_train = train.drop("wage_class",axis=1)
y_train = train.wage_class

X_test = test.drop("wage_class",axis=1)
y_test = test.wage_class

# TensorBoard

In [7]:
root_logdir = os.path.join(os.curdir, "my_logs")

In [8]:
def get_run_logdir():
    import time
    run_id = time.strftime("run_%Y_%m_%d-%H_%M_%S")
    return os.path.join(root_logdir, run_id)

run_logdir = get_run_logdir()
run_logdir

'./my_logs/run_2024_05_10-12_37_14'

In [9]:
keras.backend.clear_session()
np.random.seed(42)
tf.random.set_seed(42)

In [10]:
from keras.models import Sequential
from keras.layers import Dense

from keras.callbacks import History

history = History()
model = Sequential()
model.add(Dense(100,activation="sigmoid",input_shape=(X_train.shape[1],)))
model.add(Dense(50,activation="sigmoid"))
model.add(Dense(10,activation="sigmoid"))
model.add(Dense(1,activation="sigmoid"))
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4200

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 10)                510

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 9771 (38.17 KB)
Trainable params: 9771 (38.17 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [11]:
model.compile(loss="binary_crossentropy",optimizer="Adam", metrics=["accuracy"])

In [13]:
from keras.callbacks import TensorBoard 
X_train = np.asarray(X_train).astype('float32')
y_train = np.asarray(y_train).astype('float32')
X_test = np.asarray(X_test).astype('float32')
y_test = np.asarray(y_test).astype('float32')

tensorboard_cb = TensorBoard(run_logdir)
history = model.fit(X_train, y_train, epochs=30, validation_data=(X_test, y_test), callbacks=[tensorboard_cb])

Epoch 1/30
943/943 [==============================] - 3s 2ms/step - loss: 0.4359 - accuracy: 0.7901 - val_loss: 0.3905 - val_accuracy: 0.8090
Epoch 2/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3802 - accuracy: 0.8101 - val_loss: 0.3795 - val_accuracy: 0.7909
Epoch 3/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3782 - accuracy: 0.8110 - val_loss: 0.3748 - val_accuracy: 0.8154
Epoch 4/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3745 - accuracy: 0.8131 - val_loss: 0.4010 - val_accuracy: 0.8134
Epoch 5/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3727 - accuracy: 0.8131 - val_loss: 0.3669 - val_accuracy: 0.8180
Epoch 6/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3711 - accuracy: 0.8126 - val_loss: 0.3718 - val_accuracy: 0.8082
Epoch 7/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3703 - accuracy: 0.8147 - val_loss: 0.3661 - val_accuracy: 0.8192
Epoch 8/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3702 - accuracy: 0.8129 - val_loss: 0.3704 - val_accuracy: 0.8118
Epoch 9/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3686 - accuracy: 0.8144 - val_loss: 0.3782 - val_accuracy: 0.8112
Epoch 10/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3681 - accuracy: 0.8154 - val_loss: 0.3645 - val_accuracy: 0.8135
Epoch 11/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3651 - accuracy: 0.8148 - val_loss: 0.3658 - val_accuracy: 0.8120
Epoch 12/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3672 - accuracy: 0.8143 - val_loss: 0.3644 - val_accuracy: 0.8159
Epoch 13/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3699 - accuracy: 0.8148 - val_loss: 0.3650 - val_accuracy: 0.8133
Epoch 14/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3661 - accuracy: 0.8171 - val_loss: 0.3637 - val_accuracy: 0.8140
Epoch 15/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3662 - accuracy: 0.8159 - val_loss: 0.3701 - val_accuracy: 0.8092
Epoch 16/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3664 - accuracy: 0.8158 - val_loss: 0.3631 - val_accuracy: 0.8163
Epoch 17/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3669 - accuracy: 0.8162 - val_loss: 0.3628 - val_accuracy: 0.8177
Epoch 18/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3644 - accuracy: 0.8164 - val_loss: 0.3812 - val_accuracy: 0.8029
Epoch 19/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3645 - accuracy: 0.8156 - val_loss: 0.3637 - val_accuracy: 0.8178
Epoch 20/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3650 - accuracy: 0.8152 - val_loss: 0.3631 - val_accuracy: 0.8171
Epoch 21/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3655 - accuracy: 0.8163 - val_loss: 0.3632 - val_accuracy: 0.8161
Epoch 22/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3628 - accuracy: 0.8173 - val_loss: 0.3638 - val_accuracy: 0.8184
Epoch 23/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3625 - accuracy: 0.8175 - val_loss: 0.3625 - val_accuracy: 0.8161
Epoch 24/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3639 - accuracy: 0.8174 - val_loss: 0.3622 - val_accuracy: 0.8183
Epoch 25/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3660 - accuracy: 0.8137 - val_loss: 0.3647 - val_accuracy: 0.8164
Epoch 26/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3657 - accuracy: 0.8161 - val_loss: 0.3636 - val_accuracy: 0.8171
Epoch 27/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3647 - accuracy: 0.8177 - val_loss: 0.3690 - val_accuracy: 0.8132
Epoch 28/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3645 - accuracy: 0.8155 - val_loss: 0.3672 - val_accuracy: 0.8126
Epoch 29/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3632 - accuracy: 0.8167 - val_loss: 0.3640 - val_accuracy: 0.8186
Epoch 30/30
943/943 [==============================] - 2s 2ms/step - loss: 0.3636 - accuracy: 0.8164 - val_loss: 0.3628 - val_accuracy: 0.8170

o start the TensorBoard server, one option is to open a terminal, if needed activate the virtualenv where you installed TensorBoard, go to this notebook's directory, then type:

```python
$ tensorboard --logdir=./my_logs --port=6006
```

You can then open your web browser to localhost:6006 and use TensorBoard. Once you are done, press Ctrl-C in the terminal window, this will shutdown the TensorBoard server.

Alternatively, you can load TensorBoard's Jupyter extension and run it like this:

```python
%load_ext tensorboard
%tensorboard --logdir=./my_logs --port=6006
```

Gdyby nie dziaÅaÅ tensorboard

https://github.com/pytorch/pytorch/issues/22676
```python
pip uninstall tb-nightly tensorboardX tensorboard
pip install tensorboard
```

# Zad

* Naucz dowolny model na zbiorze MNIST.
* WyÅwietl krzywe uczenia w tensorboard